.display{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 50vh;
}


.calendar {
    background-color: #007bff; /* Set background color to blue or any color of your choice */
    color: #fff; /* Set text color to white or any color of your choice */
    border: none; /* Remove border */
    padding: 0.5rem 1rem; /* Add padding to provide spacing */
    border-radius: 4px; /* Add border radius for rounded corners */
    cursor: pointer; /* Add cursor pointer on hover */
    font-size: 1rem; /* Set font size */
  }
  
  .calendar:hover {
    background-color: #0056b3; /* Change background color on hover */
  }
  

.image{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.468);
    color: whitesmoke;
}

.image p{
    font-weight: bolder;
}
.image p:hover{
    font-style: italic;
}


.image img{
    object-fit: contain;
    height: 100px;
}



