.footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__made-by {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
  }

  .footer__made-by {
    margin-top: 10px;
  }
}

